* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.0rem;
}

body {
    background-image: linear-gradient(120deg, #316be7, #811a9b);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

input, textarea, button {
    padding: 0.8rem;
    border: none;
    background: white;
    min-width: 100%;
    border-radius: 10px;
}

button, select {
    color: #811a9b;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover, select:hover {
    background: #811a9b;
    color: white;
}


#loading-icon {
    visibility: hidden;
}

#message {
    height: 50px;
    width: 300px;
}

#tasks tbody tr td:nth-child(5) {
    position: absolute;
}

#tasks tbody tr td img {
    display: none;
    position: relative;
}

#tasks {
    width: 400px;
}